html{
     font-family: sans-serif;
}
#containerf{
     
    width: 50%;

}

a{
text-decoration: none; 
color: currentColor;	
}
#page-wrap {
margin-top : 0%;
margin-left:8%;
margin-right:6%;
background: #baffc9;
width: inherit;
height: inherit;

}
footer{
	margin-top: 0%;
	font-size: 5px;
}

